
Result Size: 823 x 857

  cursor: pointer;

}

​

.slider::-moz-range-thumb {

  width: 25px;

  height: 25px;

  border-radius: 50%;

  background: #048acf;;

  cursor: pointer;

}

</style>

</head>

<body>

​

<h1>10 Band Equalizer</h1>

    <div class="content">

        <div class="card-grid">

            <div class="card">

                <form action="/post" method="post">

                  <br><br>

                  <input type="range" min="-13" max="13" value="0"  orient="vertical" name="freq1"/>



                  <input type="range" min="-13" max="13" value="0" orient="vertical" name="freq2"/>



                  <input type="range" min="-13" max="13" value="0" orient="vertical" name="freq3"/>



                  <input type="range" min="-13" max="13" value="0" orient="vertical" name="freq4"/>



                  <input type="range" min="-13" max="13" value="0" orient="vertical" name="freq5"/>



                  <input type="range" min="-13" max="13" value="0" orient="vertical" name="freq6"/>



                  <input type="range" min="-13" max="13" value="0" orient="vertical" name="freq7"/>



                  <input type="range" min="-13" max="13" value="0" orient="vertical" name="freq8"/>



                  <input type="range" min="-13" max="13" value="0" orient="vertical" name="freq9"/>



                  <input type="range" min="-13" max="13" value="0" orient="vertical" name="freq10"/>

                 <br>Volume

                  <br>

                  <input type="range" min="60" max="100" value="60"  name="volume"/>

                  <br>

                  <input type="submit"><br>



                  <br><br>

                </form>

            </div>

        </div>

    </div>

</body>

</html>

​

